﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<script id="messagesTmplate" type="text/html">
    <div>
        <p data-bind="text: id"></p>
        <p data-bind="text: message"></p>
        @*          <a href="#" data-bind="click: $root.removeItem"> x </a>*@
    </div>
</script>

<script id="usersTmplate" type="text/html">
    <div>
        <p><span data-bind="css: userStatusCss"></span><span data-bind="text: connectionId"></span>
            <br/>
            <span data-bind="text: connectedAt"></span> - <span data-bind="text: disconnectedAt"></span>
       </p>
        </div>
</script>

<div id="dashboard" class="k-content">
   @* <p class="k-label">Server: <span id="info" data-bind="text: serverInfo" class="k-label"></span></p>*@
    <div id="navcontainer">
        <ul id="menu" >
            <li data-bind="css: { menuItemSelected: serverInfo() == 'signalR'  }"><a href="~/dashboard/index/default/signalR">SignalR</a></li>
            <li data-bind="css: { menuItemSelected: serverInfo() == 'nodejs' }"><a href="~/dashboard/index/default/nodejs">Node.js</a></li>
            <li data-bind="css: { menuItemSelected: serverInfo() == 'iisnode' }"><a href="~/dashboard/index/default/iisnode">iisnode</a></li>
        </ul>
    </div>
    <br />
    
@*    <div id="users" data-bind="kendoListView: { data: users, template: 'usersTmplate', useKOTemplates: true }"> </div>*@
    
    <div class="k-block" id="summaryPanel">
    <div class="k-header k-inset">Summary</div>
    <p><span class="lbl">Active Users:</span><span data-bind="text: summary.activeUsers" class="summary"></span></p>
    <p><span class="lbl">Inactive Users:</span><span data-bind="text: summary.inactiveUsers" class="summary"></span></p>
    <p><span class="lbl">First Connection at:</span><span data-bind="text: summary.firstUserConnectedAt" class="summary"></span></p>
    <p><span class="lbl">Last Connection at:</span><span data-bind="text: summary.lastUserConnectedAt" class="summary"></span></p>
        <p><span class="lbl">Last Activity at:</span><span data-bind="text: summary.lastUserActivityAt" class="summary"></span></p>
        <p><span class="lbl">Longest Activity:</span><span data-bind="text: summary.longestActivity" class="summary"></span> ms</p>
        <p><span class="lbl">Shortest Activity:</span><span data-bind="text: summary.shortestActivity" class="summary"></span> ms</p>
        <p><span class="lbl">Average Activity:</span><span data-bind="text: summary.averageActivity" class="summary"></span> ms</p>
        <p><span class="lbl">Median Activity:</span><span data-bind="text: summary.medianActivity" class="summary"></span> ms</p>
    </div>

    <div class="k-block" id="messagesPanel">
        <div class="k-header k-inset">Messages</div>
        <div id="messages" data-bind="kendoListView: { data: dataItems, template: 'messagesTmplate', useKOTemplates: true }">
        </div>
    </div>
    
    <div class="k-block" id="usersPanel">
        <div class="k-header k-inset">Users</div>
        <div id="users" data-bind="kendoListView: { data: users, template: 'usersTmplate', useKOTemplates: true }">
        </div>
    </div>
</div>

<script src="~/Scripts/require.js"></script>

<script>
    
    $(document).ready(function () {
    $("#menu").kendoMenu();
    });
    
    requirejs.config({
        baseUrl: "/Scripts",
        paths: {
            //jquery: 'jquery-2.0.3',
            //knockout: 'knockout-2.3.0',
            signalR: 'jquery.signalR-1.1.3',
            socketio: 'socket.io/socket.io',
            //kendo: 'kendo/2013.2.716/kendo.web.min',
            configuration: 'configuration',
            moment: 'moment'
        },
        shim: {
        }
    });

    require(['configuration', /*'jquery', 'knockout', 'kendo',*/ 'app'], function (config, /*jq, ko, k,*/ app) {
        console.log("jQuery version: ", $.fn.jquery);
        console.log("Knockout version: ", ko.version);
        //console.log("Kendo version: ", kendo.version);

        config.server = '@ViewBag.id';
        
        app.init(config.server);
        
        ko.applyBindings(app, $('#dashboard')[0]);

    });
</script>

